<form class='typester-input-form'>
    <input type='text' name='user-input' class='user-input' value='{{ value }}' />
    <button type='submit'>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 180 20 20" enable-background="new 0 180 20 20" xml:space="preserve" height="20px" width="20px">
             <polyline class="checkmark-2" fill="none" stroke-width="5.3" stroke-miterlimit="10" points="1.9,188.8 7.5,194.4 18.1,183.9 "/>
        </svg>
    </button>
    <button type='cancel'>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" width="20px" height="20px">
             <path id="XMLID_730_" d="M16.4,19.8c-0.2,0.2-0.5,0.2-0.6,0L10,14l-5.7,5.7c-0.2,0.2-0.5,0.2-0.6,0l-3.4-3.4c-0.2-0.2-0.2-0.5,0-0.6
            L6,10L0.2,4.3c-0.2-0.2-0.2-0.5,0-0.6l3.4-3.4c0.2-0.2,0.5-0.2,0.6,0L10,6l5.7-5.7c0.2-0.2,0.5-0.2,0.6,0l3.4,3.4
            c0.2,0.2,0.2,0.5,0,0.6L14,10l5.7,5.7c0.2,0.2,0.2,0.5,0,0.6L16.4,19.8z"/>
        </svg>
    </button>
</form>
