<section class='demo' id='demo'>
    <div class='demo-panes'>
        <div class='demo-pane' contenteditable="true">
            <h1>Would you like to see Typester in action?</h1>
            <h2>Then feel free to edit anything in this block.</h2>
            <p>
                And while you make changes and have fun messing up our perfectly
                crafted copy, keep an eye on the panel to the right. It should,
                in real time, show you the HTML inside this block, as it gets updated.
            </p>
            <p>
                Don't forget to try your hand at formatting things as well, it really
                is quite simple. All you need to do is:
            </p>
            <ol>
                <li>
                    Select some text
                </li>
                <li>
                    Look out for the medium editor style contextual toolbar
                </li>
                <li>
                    Toggle any of the formatting options
                </li>
            </ol>
            <p>
                As you edit, you may notice that the toolbar will adapt to the content
                selected. For instance, if Typester detects that the selected content is
                already in a tag that has its font-weight set to bold, it will
                disable the bold formatting option.
            </p>
            <p>
                The same goes for when the content is in a list. Only a subset of
                the formatting tools are available to ensure that no invalid nesting
                happens.
            </p>
            <p>
                <b>Currently, Typester has support for:</b>
            </p>
            <ul>
                <li>
                    Toggling the <b>bold</b> and <i>italic</i> states of selected text.
                </li>
                <li>
                    Creating <b>H1</b> and <b>H2</b> headings.
                </li>
                <li>
                    Creating <b>ordered</b> and <b>unordered lists</b>.
                </li>
                <li>
                    Toggling a block of content into a <b>blockquote</b> and back.
                </li>
                <li>
                    Inserting <b>links</b>.
                </li>
            </ul>
            <blockquote>
                Typester is still in beta. Although we are using it in production and it has proven to be reliable, we do want to caveat that it should be used with caution.
            </blockquote>
            <p>
                <b>Also,</b> the current feature set is intentionally limited and the ability
                to extend the library arbitrarily is not available. We have plans to expand the Typester library in the future, but feel it's now at a good place to release into the wild and receive external feedback. If you have any issues or
                feature requests you would like to report, <a href='https://github.com/typecode/typester/issues' target='_blank'>please feel free</a>!
            </p>
            <p>
                <i>Lastly, in case you haven't managed to accidently select anything
                content on the page outside of this demo area, most of this page's
                copy can be edited!</i>
            </p>
        </div>
        <div class='demo-pane'>
            <code></code>
        </div>
    </div>
</section>
