<footer>
    <div class='footer-panel' contenteditable="true">
        <p>
            Vivamus suscipit tortor eget felis porttitor volutpat.
        </p>
        <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
        </p>
        <p>
            Donec rutrum congue leo eget malesuada.
        </p>
        <p>
            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
        </p>
        <p>
            Cras ultricies ligula sed magna dictum porta.
        </p>
    </div>
    <div class='footer-panel'>
        <p>
            Brought to you by:
        </p>
        {% include svg/tclogo.html %}
    </div>
</footer>
