<section class='history' id='history'>
    <div class='history-panel' contenteditable="true">
        <h2>Another WYSIWYG? But why?</h2>
        <p>
            <b>Typester</b> evolved out of work we were doing during the development of <a href='https://typecode.com/mit-media-lab/' target='_blank'>a custom content management system for the MIT Media Lab</a>. A common use case at the <a href='https://media.mit.edu'>Media Lab</a> that we needed to support was the pasting in of content from external text editors (such as Microsoft Word and Google Docs), and we discovered that third-party WYSIWYG implementations tend to break down when it comes to handling the messy markup that those editors emit. To address this, we came up with our own technique that involves performaming complex formatting and cleanup operations under the hood, in a way that ensures conistent and sane markup, while still maintaining accurate edit (undo/redo) history as text is being manipulated.
        </p>
        <p>
            After its initial success in the Media Lab project, we decided to make Typester a standalone package so that we can continue to use and improve it in future projects, and release it into the wild!
        </p>
    </div>
    <div class='history-panel'>
        {% include svg/type.html %}
    </div>
</section>
