<section class='install' id='setup'>
    <div class='content-wrapper'>
        <h2>How to set up this bad boy</h2>
        <div class='instructions'>
            <p><strong>Typester can be installed via NPM or Yarn&hellip;</strong></p>
            {% highlight shell %}
            $ npm install typester-editor --save
            # or
            $ yarn add typester-editor --save
            {% endhighlight %}
            <p>
                &hellip; and then instantiated in your code:
            </p>
            {% highlight javascript %}
            import Typester from 'typester-editor';
            // or
            var Typester = require('typester-editor');

            new Typester({ el: document.querySelector('[contenteditable]') });
            {% endhighlight %}

            <div class='repo-links'>
                <a class='btn' href='https://github.com/typecode/typester/blob/devel/README.md' target='_blank'>For more info check out our docs</a>
            </div>
        </div>
    </div>
</section>

<script>
    // var installSection = document.querySelector('section.install');
    // var contentWrapper = document.querySelector('section.install .content-wrapper');
    // var scrollWatcher = function () {
    //     var sectionBounds = installSection.getBoundingClientRect();
    //     var winHeight = window.innerHeight;
    //     var scrollRatio = sectionBounds.top/winHeight;
    //     var travelDist = Math.round(winHeight / 10);
    //
    //     var travelRatio = travelDist * scrollRatio;
    //
    //     contentWrapper.style.transform = 'translateY(' + Math.round(0-sectionBounds.top - travelRatio)  + 'px)';
    //
    //     window.requestAnimationFrame(scrollWatcher);
    // };
    //
    // window.requestAnimationFrame(scrollWatcher);
</script>
