<nav>
    <a class='nav-control'>
        <i class='pipe top'></i>
        <i class='pipe middle'></i>
        <i class='pipe bottom'></i>
    </a>
    <div class='nav-panel'>
        <div class='nav-wrapper'>
            <h1>Le Menu</h1>
            <ul class='nav-primary'>
                <li>
                    <a href='#overview'>Overview</a>
                </li>
                <li>
                    <a href='#history'>But why?</a>
                </li>
                <li>
                    <a href='#demo'>Demo</a>
                </li>
                <li>
                    <a href='#setup'>Setup</a>
                </li>
            </ul>
            <ul class='nav-secondary'>
                <li>
                    <a href='https://github.com/typecode/typester/blob/devel/README.md' target='_blank'>Docs</a>
                </li>
                <li>
                    <a href='https://typecode.com/' target='_blank'>Type/Code</a>
                </li>
                <li>
                    <a href='https://github.com/typecode/typester' target='_blank'>Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
