$white:  #ffffff;
$black:  #000000;

$red:          #FF424D;
$cosmiclatte:  #FFF8E7;
$grey:         #2d4a57;
$darkgrey:     #121E23;
$mediumgrey:   #1b272b;
$lightgrey:    #EEEFEF;
$green:        #2ddb87;

$cosmiclatte-lt: #fffefb;

$red-dk:         mix(black, $red, 30%);
$cosmiclatte-dk: mix(black, $cosmiclatte, 30%);
$green-dk:       mix(black, $green, 30%);

$cosmiclatte-xdk: mix(black, $cosmiclatte, 50%);

// remapping default colors
$mandy: $red;
$blue_whale: $mediumgrey;
$cadet_blue: rgb(3, 166, 166);
$pattens_blue: rgb(217, 236, 242);
$chocolate: $red;

body {
    background: $cosmiclatte-lt;
    color: $green;
	caret-color: $cosmiclatte-dk;
    //background-attachment: fixed;
}
