.btn {
    display: inline-block;
    font-size: 2rem;
    border: 2px solid;
    padding: 0.15em 3em;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 0.1em -2px rgba(0,0,0,0.75), inset 0 4px 0.1em -2px rgba(0,0,0,0.75);
    text-shadow: 0 3px 0.1em rgba(0,0,0,0.75);

    &:hover {
        background-color: $pattens_blue;
        color: $blue_whale;
        box-shadow: 0 4px 0.1em -2px rgba(0,0,0,0.75);
        text-shadow: none;
    }
}
