.btn {
    display: inline-block;
    font-size: 2rem;
    border: 1px solid $green;
    padding: 0.5em 2em 0.6em;
    margin: 0.75rem;
    cursor: pointer;
    background-color: $white;
    color: $green;
    transition: transform 100ms;
    transform: scale(1);
    @include sans(bold);
    letter-spacing: -0.025em;
    border-radius: $borderradius;

    &.primary {
        background-color: $green;
        border-color: $green;
        color: $cosmiclatte-lt;
    }

    &:hover {
        background-color: $green;
        color: $white;
        box-shadow: 0 4px 0.4em -2px transparentize($cosmiclatte-xxxdk, 0.7);
        text-shadow: none;
        border-color: $green;
        transform: scale(1.1);
    }
}