.demo {
    min-height: 0;
    .demo-panes {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        overflow: hidden;
    }

    .demo-pane {
        padding: 5vw;
        width: 50%;
        box-sizing: border-box;

        &:first-child {
            background-color: $white;
            color: $blue_whale;
        }

        &:last-child {
            background-color: $blue_whale;
            color: $pattens_blue;
            padding: 5vw 2vw;
        }
    }

    .demo-pane[contenteditable] {
        * {
            opacity: 1;
            transition: opacity 300ms;
        }

        h1 {
            font-size: 4rem;

            &:first-child {
                &::after {
                    content: '|';
                    animation: blink-animation 1s steps(5, start) infinite;
                    transform: scale(1, 1.2) translateY(-5%);
                    display: inline-block;
                }
            }
        }

        h2 {
            font-size: 3rem;
        }

        blockquote {
            font-size: 2rem;
        }

        &.typing-in {
            * {
                opacity: 0;
            }

            h1 {
                opacity: 1;
            }
        }
    }

    code {
        .code-line {
            display: block;
            line-height: 1.2;

            .code-line {
                padding-left: 2em;
            }
        }

        .tag {
            color: $mandy;
        }
    }

    ::selection {
      background: $cadet_blue; /* WebKit/Blink Browsers */
      color: $white;
    }
    ::-moz-selection {
      background: $cadet_blue; /* WebKit/Blink Browsers */
      color: $white;
    }
}
