.demo {
    min-height: 0;
    .demo-panes {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        overflow: hidden;
    }

    .demo-pane {
        padding: 5vw;
        width: 50%;
        box-sizing: border-box;

        &:first-child {
            background-color: $white;
            color: $blue_whale;
        }

        &:last-child {
            background-color: $blue_whale;
            color: $pattens_blue;
            padding: 5vw 2vw;
        }
    }

    .demo-pane[contenteditable] {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        blockquote {
            font-size: 2rem;
        }
    }

    code {
        .code-line {
            display: block;
            line-height: 1.2;

            .code-line {
                padding-left: 2em;
            }
        }

        .tag {
            color: $mandy;
        }
    }
}
