footer {
    display: flex;
    position: relative;
    padding: $gutter;
    background: $cosmiclatte-lt;
    color: $cosmiclatte-xdk;
    align-items: stretch;
    @include mono();

    .footer-panel {
        box-sizing: border-box;

        &:first-child {
            width: 67%;
            padding-right: $column-width;
        }

        &:last-child {
            border-left: 1px solid $cosmiclatte;
            width: 33%;
            display: flex;
            align-items: flex-end;
            padding-left: $column-width;

            p {
                margin-bottom: 1em;
            }
        }

        p {
            font-size: 0.8rem;
            max-width: 50em;
        }
    }

    svg {
        fill: $cosmiclatte-xdk;
        width: 100%;
        max-width: 15rem;
        height: auto;

        &:hover {
            fill: $green;
            cursor: pointer;
        }
    }
}
