footer {
    display: flex;
    position: relative;
    padding: 5vw 0;
    background: darken($blue_whale, 5%);
    align-items: stretch;

    .footer-panel {
        box-sizing: border-box;
        padding: 0 5vw;

        &:first-child {
            width: 67%;
        }

        &:last-child {
            border-left: 1px solid lighten($mandy, 10%);
            width: 33%;
            display: flex;
            align-items: center;
        }

        p {
            font-size: 0.8rem;
        }
    }

    svg {
        fill: $white;
    }
}
