@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hero {
    text-align: center;

    .titles {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    h1 {
        border-bottom: 2px solid $chocolate;
        font-size: 15vh;
    }

    h1, h3 {
        padding: 1rem 0;
        text-shadow: 0 0.04em 2px rgba(0,0,0,0.5);
    }

    .caret {
        animation: blink-animation 1s steps(5, start) infinite;
    }

    .footnote {
        position: fixed;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }
}
