@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 200ms;

    .titles {
        max-width: 90vw;
        margin: 30vh 0 40vh;
    }

    .main-title {
        outline: none;
        position: relative;

        h1 {
            &::after {
                content: '|';
                color: transparent;
                position: absolute;
                display: inline-block;
                margin-left: 0.1em;
                top: -0.19em;
                bottom: 0.175em;
                width: 1px;
                background: $cosmiclatte-dk;
                animation: blink-animation 1s steps(5, start) infinite;
            }
            &::focus::after {
                
            }
        }

        &:focus h1 {
            &::after {
                visibility: hidden;
            }
        }
    }

    .overview {
        display: flex;
        margin: 10vh auto 3rem;
        width: 60vw;
        color: $cosmiclatte-xdk;

        .left,
        .right {
            flex-grow: 1;
            text-align: left;
            box-sizing: border-box;
        }

        .left {
            width: 50%;
            padding-right: 2rem;
        }

        .right {
            width: 50%;
            padding-left: 2rem;
        }
    }

    .typecode {
        svg {
            fill: $pattens_blue;
            width: 10vw;
            height: auto;
        }
    }

    .hero-links {
        margin-bottom: 2rem;
    }

    h1 {
        @include sans-backslant(bold);
        font-size: 35vh;
        line-height: 1em;
        padding: 0 0 0.35em;
        letter-spacing: -0.04em;

    }

    h2 {
        font-size: 2rem;
        line-height: 1.3em;
    }

    .fork-ribbon {
        position: absolute;
        top: 0;
        left: 0;
        background: $mandy;
        padding: 0.7em 5em;
        color: $white;
        @include sans(bold);
        font-size: 0.8rem;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: 0.2em;
        transform: rotate(-45deg) translate3d(-6.5em, 0, 0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        transition: box-shadow 200ms;

        &:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        }
    }

}
