.history {
    background-color: $cosmiclatte;
    color: $cosmiclatte-xxdk;
    display: flex;
    align-items: center;
    min-height: 0;
    box-sizing: border-box;

    &.show-icon {
        .history-panel {
            svg {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .history-panel {
        box-sizing: border-box;
        padding: $section-vertmargins $gutter;

        &:first-child {
            width: 66.66%;
            
            @media #{$notphone} {
                padding-left: calc(#{$gutter} + #{$overview-bullets-side-margin});
            }
            @media #{$tablet} {
                width: 100%;
                padding-right: calc(#{$gutter} + #{$overview-bullets-side-margin});
            }
            @media #{$phone} {
                width: 100%;
            }
        }
        &:last-child {
            width: 33.33%;
            @media #{$mobile} {
                display: none;
            }
        }

        svg {
            width: 100%;
            height: auto;
            fill: $cosmiclatte-lt;
            opacity: 0;
            transform: scale(0.5);
            display: block;
            transition: opacity 700ms, transform 700ms;
        }

        p:not(.steps) {
            max-width: 30rem;
        }
    }

    h2 {
        @include sans(bold);
        color: $green;
        position: relative;
        max-width: 10em;
        &::after {
            @include flashing-caret($green)
        }
    }
    .history-panel:focus h2 {
        &::after {
            visibility: hidden;
        }
    }

    .solution-step {
        display: inline-block;
        @include sans(regular);
        border: 1px solid;
        padding: 0.5em 1em;
        margin-top: 1em;
        background: $cosmiclatte-lt;
        border-color: $cosmiclatte-lt;
        color: $green;
        border-radius: $borderradius;
    }
}
