.history {
    background-color: $mandy;
    color: $white;
    display: flex;
    align-items: center;
    min-height: 0;
    padding: 0 5vw;

    .history-panel {
        width: 50%;
        box-sizing: border-box;
        padding: 10vw 5vw;

        svg {
            width: 30vw;
            height: auto;
            fill: $pattens_blue;
        }
    }

    h2 {
        &::after {
            content: '|';
            animation: blink-animation 1s steps(5, start) infinite;
            transform: scale(1, 1.2) translateY(-5%);
            display: inline-block;
        }
    }

    .solution-step {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        border: 1px solid;
        padding: 0.5em 1em;
        margin-top: 1em;
        background: $white;
        border-color: $white;
        color: $mandy;
    }

    ::selection {
      background: $cadet_blue; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
      background: $cadet_blue; /* WebKit/Blink Browsers */
    }
}
