.install {
    background-color: $green;
    color: $cosmiclatte-lt;
    padding: $section-vertmargins $gutter;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-wrapper {
    }

    h1 {
        text-align: center;
    }

    .instructions {
        max-width: 45rem;
        margin: 0 auto;
        text-align: center;
    }

    pre {
        text-align: left;
    }

    figure {
        max-width: 100vw - 2*$column-width;
        overflow-x: auto;
    }
}
