$columns: 16;
$column-width: 100vw / $columns;

$gutter: $column-width;
$gutter-phone: 1rem;

$section-vertmargins: $column-width * 1.5;


html, body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

section {
    min-height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
    }
}

[contenteditable] {
    outline: none;
}
