$borderradius: 0.2rem;

html {
    font-size: 16px;

    @media #{$tablet} {
        font-size: 15px;
    }
    @media #{$phone} {
        font-size: 14px;
    }
}

body {
    @include sans(regular);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures; 
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, nav a, .btn, blockquote {
    @include sans(regular);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.05em;
    margin-bottom: 2rem;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 6rem;
    @include sans(bold);
    letter-spacing: -0.045em;
}

h2 {
    font-size: 4.5rem;
    @include sans(bold);
    letter-spacing: -0.03em;
}

h3 {
    font-size: 2.5rem;
}

p {
    line-height: 1.4em;
    margin-bottom: 1.4rem;
}

p, li {
    a {
        text-decoration: underline;
    }
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration-skip: ink;
}

pre, code {
    white-space: pre-line;
}

code {
    @include mono();
    line-height: 1.4em;
}

figure {
    margin-bottom: 1.4rem;
    padding: 2rem 3rem;
    border-radius: $borderradius;
    box-sizing: border-box;
}

li {
    line-height: 1.4em;
    margin-bottom: 0.7em;
}

ul {
    list-style: circle;
    margin-left: 1rem;
}

ol {
   list-style: decimal;
   margin-left: 1rem;
}

blockquote {
    @include sans(bold);
    font-size: 3.25rem;
    letter-spacing: -0.025em;
    position: relative;
    padding-left: 1rem;
    margin: 1em 0;

    &::before,
    &::after {
        position: absolute;
        font-size: 2em;
        color: $cosmiclatte-dk;
        @include mono();
    }

    &::before {
        content: '\201C';
        top: -0.75rem;
        left: -1rem;
    }

    &::after {
        content: '  \201D';
        margin-top: 0.05em;
        margin-left: 0.15em;
    }
}

@mixin smallcaps {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 115%;
    letter-spacing: 0.02em;
}
.smallcaps {
    @include smallcaps;
}

@mixin flashing-caret($_color) {
    content: '|';
    color: transparent;
    position: absolute;
    display: inline-block;
    margin-left: 0.1em;
    width: 1px;
    background: $_color;
    animation: blink-animation 1s steps(5, start) infinite;
}

::selection {
    background: $cosmiclatte-dk;
    color: $cosmiclatte-lt;
}
::-moz-selection {
    background: $cosmiclatte-dk;
    color: $cosmiclatte-lt;
}

[contenteditable] {
    ::selection {
        background: $green;
        color: $cosmiclatte-lt;
    }
    ::-moz-selection {
        background: $green;
        color: $cosmiclatte-lt;
    }
}
