body {
    @include sans(regular);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, nav a, .btn, blockquote {
    @include sans(regular);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-bottom: 2rem;
}

h1 {
    font-size: 6rem;
    @include sans(thin);
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    line-height: 1.4em;
    margin-bottom: 1.4rem;
}

p, li {
    a {
        text-decoration: underline;
    }
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

code {
    @include mono();
    line-height: 1.4em;
}

figure {
    margin-bottom: 1.4rem;
    padding-top: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

li {
    line-height: 1.4em;
    margin-bottom: 0.7em;
}

ul {
    list-style: circle;
    margin-left: 1rem;
}

ol {
   list-style: decimal;
   margin-left: 1rem;
}

blockquote {
    font-size: 3.25rem;
    font-weight: 700;
    position: relative;
    padding-left: 1em;
    margin: 2em 0;

    &::before {
        content: '"';
        position: absolute;
        top: -0.75rem;
        left: -0.1em;
        font-size: 3em;
        opacity: 0.3;
    }

    &::after {
        content: '"';
        position: absolute;
        font-size: 3em;
        opacity: 0.3;
        margin-top: 0.05em;
    }
}

::selection {
    background: $green;
    color: $white;
}
::-moz-selection {
    background: $green;
    color: $white;
}
