.typester-canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    //debug styles
    // right: 0;
    // left: auto;
    // z-index: 100;
    // width: 33vw;
    // height: 100vh;
    // background: #DDD;
    // opacity: 2;
}
